body{
    margin:0px;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
}

p{
    font-size:20px;
}
.name{
    color: mediumvioletred;
}

.half-width{
    width:35%;
    float:left;
    padding-top:5%;
}

.text{
    padding-top:15%;
    margin-left:10%;
    padding-left:10%;
    line-height: 2em;
}

img{
    width:100%;
}

.self{
    background-image: url("images/header-bg.png");
    background-size: 100%;
    background-repeat: none;
}

section{
    height:810px;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(180deg,deeppink,mediumvioletred);
    padding:10px 20px;
    border-radius:10px;
    color:white;
    font-weight:700;
}

.biography{
    background-image: url("images/biography-bg.png");
    background-size: 100%;
    background-repeat: none;
    
}

.image{
    margin-left:5%;
    padding-left:7%;
}

.text-biography{
    padding-top:20%;
    margin-left:10%;
    line-height: 2em;
}

.work{
    background-image: url("images/latest-work-bg.png");
    background-size: 100%;
    background-repeat: none;
    text-align:center;
    padding-top:5%;
}

.single-work{
    margin-top:5%;
    width:30%;
    float:left;
    margin-inline-end: 2%;
}

.review{
    background-image: url("images/footer-bg.png");
    background-size: 100%;
    background-repeat: none;
    text-align:center;
}

.comment{
    width:50%;
    margin-left:auto;
    margin-right:auto;

}

.message{
    border:7px solid;
    border-radius: 20px;
    background-image: linear-gradient(45deg,deeppink,mediumvioletred);
    padding: 20px 200px;
    display: inline-block;
    color: white;
}

footer p{
    text-align:center;
    font-size:15px;
    padding-bottom:20px;
    color:grey;
}

.single-work:hover img{
    opacity: 0.5;
}

